.footer-sect {
  position: relative;
  padding-top: 243px;
  padding-bottom: 31px;
  background-color: $black;
}
.footer {

  // .footer__img

  &__img {
    position: absolute;
    top: -107px;
    left: 0;
  }

  // .footer__wrap

  &__wrap {

    // .footer__wrap_top

    &_top {
      @extend %df;
      @extend %jcsb;
    }

    // .footer__wrap_bot

    &_bot {
      @extend %df;
      @extend %jcsb;
      align-items: flex-end;
      padding-top: 104px;
    }
  }

  // .footer__touch

  &__touch {
  }

  // .footer__touch-title

  &__touch-title {
    @extend %h2-title;
    color: $verdigris;
    margin-bottom: 24px;
  }

  // .footer__touch-wrap

  &__touch-wrap {
    @extend %df;
    padding-left: 42px;
  }

  // .footer__touch-input

  &__touch-input {
    @extend %base-input;
    width: 264px;
  }

  // .footer__touch-privacy

  &__touch-privacy {
    @extend %small;
    color: $white;
    margin-top: 13px;
  }

  // .footer__touch-btn

  &__touch-btn {
    @extend %base-btn;
    width: 160px;
    height: 48px;
    margin-left: 24px;
  }

  // .footer__contact-title

  &__contact-title {
    @extend %h2-title;
    color: $verdigris;
  }

  // .footer__contact

  &__contact {
    width: 542px;
    //@extend %h2-title;
    //color: $verdigris;
  }

  // .footer__contact-wrapper

  &__contact-wrapper {
    @extend %df;
    @extend %jcsb;
    margin-bottom: 16px;
  }

  // .footer__social

  &__social {
    @extend %df;
    margin-top: 13px;
  }

  // .footer__social-itm

  &__social-itm {
    @extend %df;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  // .footer__social-link

  &__social-link {
  }

  // .footer__contact-block-wrapper

  &__contact-block-wrapper {
    @extend %df;
    //@extend %jcsb;
  }

  // .footer__contact-block

  &__contact-block {
    margin-right: 33px;
  }

  // .footer__contact-block-title

  &__contact-block-title {
    @extend %small-2;
    color: $white;
    margin-bottom: 16px;
  }

  // .footer__contact-block-items

  &__contact-block-items {
  }

  // .footer__contact-block-itm

  &__contact-block-itm {
  }

  // .footer__contact-itm-link

  &__contact-itm-link {
    @extend %small;
    color: $white;
  }

  // .footer__contact-itm-text

  &__contact-itm-text {
    @extend %small;
    color: $white;
    // .footer__contact-itm-text_under

    &_under {
      text-decoration: underline;
    }
  }

  // .footer__wrpa

  &__wrpa {


  }

  // .footer__copy

  &__copy {
    @extend %small;
    color: $off_white;
    a {
      @extend %small;
      color: $off_white;
      text-decoration: underline;
    }
  }

  // .footer__logo

  &__logo {
    margin-right: 40px;
  }

  // .footer__logo-link

  &__logo-link {
    @extend %df;
    width: 64px;
    height: 82px;
  }

  // .footer__creditals

  &__creditals {
    @extend %small;
    color: $off_white;
    text-align: right;
    a {
      @extend %small;
      color: $off_white;
      text-decoration: underline;
    }
  }
}
.container {
}
