.nav {
  position: fixed;
  top: 47px;
  width: 100%;
  z-index: 99;
  .container {
    //width: 100%;
    @extend %df;
    justify-content: flex-end;
  }
}
.header {
  @extend %df;
  @extend %jcsb;
  padding-top: 47px;
  &-sect {
    @extend %bg-reset;
    height: 107vh;
    background-image: url($img_dir + 'header-bg.png');
    //background-color: red;
  }
  &__wrap {
    &_logo {

    }
    &__btn {
      //margin-left: auto;
      //position: relative;
    }
  }
  &__btn {
    @extend %base-btn;
    margin-left: auto;
  }
}