.cta-sect {
  position: relative;
  padding-top: 177px;
  padding-bottom: 266px;
  //@extend %bg-reset;
  //background-image: url($img_dir + 'offer-bg.png');
}
.container {
}
.cta {
  &__bg {
    position: absolute;
    top: -224px;
    right: -4px;
  }
  &__svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  // .cta__wrap

  &__wrap {
    position: relative;
    z-index: 1;

    // .cta__wrap_top

    &_top {
      margin: 0 auto;
      max-width: 760px;
      margin-bottom: 178px;
    }

    // .cta__wrap_bot

    &_bot {
      @extend %df;
      @extend %jcsb;
      padding-left: 98px;
    }
  }

  // .cta__title

  &__title {
    @extend %h1-title;
    color: $off_white;
    text-align: center;
  }

  // .cta__wrapper

  &__wrapper {

    // .cta__wrapper_img

    &_img {
      img {
        border: 8px solid $verdigris;
      }
    }

    // .cta__wrapper_form

    &_form {
      //max-width: 352px;
      padding-right: 93px;
      padding-top: 124px;
    }
  }

  // .cta__form-title

  &__form-title {
    @extend %h2-title;
    color: $verdigris;
  }

  // .cta__form-text

  &__form-text {
    @extend %subtitle;
    color: $off_white;
    margin: 17px 0 23px 0;
  }

  // .cta__form-inputs

  &__form-inputs {
  }

  // .cta__wrap-input

  &__wrap-input {
    @extend %base-input;
    margin-bottom: 16px;
  }

  // .cta__btn

  &__btn {
    @extend %base-btn;
    width: 100%;
    height: 48px;
    margin-top: 24px;
  }
}
