.offer-sect {
  position: relative;
  padding-top: 27px;
}
.container {
}
.offer {
  position: relative;
  z-index: 1;
  &__bg {
    position: absolute;
    top: -181px;
    right: 0;
  }
  // .offer__wrap

  &__wrap {

    // .offer__wrap_top

    &_top {
      @extend %df;
      @extend %jcsb;
      padding-left: 98px;
      margin-bottom: 184px;
    }

    // .offer__wrap_bot

    &_bot {
      @extend %df;
      justify-content: flex-end;
      padding-right: 99px;
    }
  }

  // .offer__content

  &__content {
    max-width: 449px;
  }

  // .offer__title

  &__title {
    @extend %h2-title;
    color: $verdigris;
  }

  // .offer__text

  &__text {
    @extend %body;
    color: $off_white;
    margin: 25px 0 8px 0;
  }

  // .offer__subtitle

  &__subtitle {
    @extend %body-2;
    color: $off_white;
    span {
      @extend %body;
    }
  }

  // .offer__subtext

  &__subtext {
    @extend %body-2;
    color: $off_white;
    margin: 9px 0 15px 0;
  }

  // .offer__countrys

  &__countrys {
    @extend %df;
  }

  // .offer__country

  &__country {
    margin-right: 17px;
    &:last-child {
      margin-right: 0;
    }
  }

  // .offer__country-img

  &__country-img {
  }

  // .offer__wrap-img

  &__wrap-img {
    margin-top: -63px;
    margin-right: -2px;
  }
}
