.video {
  // .video__bg-img

  &__bg-img {
    position: absolute;
    // .video__bg-img_1

    &_1 {
      top: -215px;
      left: 0;
    }

    // .video__bg-img_2

    &_2 {
      bottom: -218px;
      right: -4px;
      z-index: 2;
    }
    // .video__bg-img_3

    &_3 {
      top: 15px;
      left: 93px;
      z-index: 2;
    }
  }
  &-sect {
    position: relative;
    //overflow: hidden;
    padding-top: 208px;
    padding-bottom: 80px;
  }
  &__wrap {
    position: relative;
    width: 100%;
    height: 628px;
  }
  // .video__preview

  &__preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    @extend %evt-all;
    transition: all 1s ease;
    &.hide {
      opacity: 0;
      @extend %evt-none;
    }
  }

  // .video__icon

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    svg {
      width: inherit;
      height: inherit;
    }
  }

  // .video__frame

  &__frame {
    width: 100%;
    height: 100%;
    frame {
      width: inherit;
      height: inherit;
    }
  }

  // .video__about

  &__about {
    margin-top: 33px;
    margin-left: 2px;
  }

  // .video__title

  &__title {
    @extend %body;
    color: $off_white;
    margin-bottom: 7px;
  }

  // .video__time

  &__time {
    @extend %body;
    color: $off_white;
  }
}
.video-sect {
}
.video {



  // .video__wrap

  &__wrap {
  }


}
.container {
}
.video-click {
}
