.program-sect {
  position: relative;
  padding-top: 203px;
  &_else {
    position: relative;
    padding-top: 157px;
  }
}
.container {
}
.program {
  @extend %df;
  justify-content: flex-end;
  // .program__wrap
  &__bg {
    position: absolute;
    top: -11px;
    left: 19px;
    //width: 100%;
    @extend %evt-none;
    &_else {
      top: -28px;
      left: 59px;
    }
  }
  &_else {
    justify-content: flex-start;
    padding-top: 64px;
    .program {
      &__item-icon {
        margin-top: 4px;
      }
      &__title {
        margin-bottom: 40px;
      }
      &__item-content {
        max-width: 342px;
      }
    }
  }
  &__wrap {

    // .program__wrap_left

    &_left {
    }

    // .program__wrap_right

    &_right {
      max-width: 444px;
    }
  }

  &__img {
    position: absolute;
    &_left {
      top: 88px;
      left: 0;
    }
    &_right {
      top: 114px;
      right: -4px;
    }
  }
  // .program__title

  &__title {
    @extend %h2-title;
    color: $verdigris;
    margin-bottom: 17px;
    margin-bottom: 17px;
  }

  // .program__text

  &__text {
    @extend %subtitle;
    color: $off_white;
    max-width: 350px;
    margin-bottom: 40px;
  }

  // .program__items

  &__items {
  }

  // .program__item

  &__item {
    @extend %df;
    @extend %jcsb;
    margin-bottom: 33px;
  }

  // .program__icon

  &__icon {
    @extend %df;
    @extend %jcc;
    @extend %aic;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 2px solid $verdigris;
  }

  // .program__item-content

  &__item-content {
    max-width: 332px;
    margin-left: 34px;
  }

  // .program__item-title

  &__item-title {
    @extend %h3-title;
    color: $off_white;
    margin-bottom: 7px;
  }

  // .program__item-text

  &__item-text {
    @extend %body;
    color: $off_white;
  }
}
