.media-sect {
  position: relative;
  padding-top: 244px;
}
.container {
}
.media {

  // .media__title

  &__title {
    @extend %h2-title;
    span {
      @extend %italics;
    }
    color: $verdigris;
    text-align: center;
    margin-bottom: 48px;
  }

  // .media__items

  &__items {
    @extend %df;
    @extend %jcsb;
    @extend %aic;
  }

  // .media__item

  &__item {
    @extend %df;
    @extend %fdc;
    @extend %jcsb;
    min-height: 234px;
    max-width: 360px;
  }

  // .media__item-icon

  &__item-icon {
    @extend %df;
    @extend %jcc;
  }

  // .media__item-text

  &__item-text {
    @extend %btn-text;
    text-align: center;
  }
}
