.see-you-sect {
  padding-top: 225px;
  padding-bottom: 93px;
}
.container {
}
.see-you {

  // .see-you__title

  &__title {
    @extend %h2-title;
    color: $verdigris;
    text-align: center;
    margin-bottom: 40px;
  }

  // .see-you__img

  &__img {
    @extend %df;
    @extend %jcc;
  }
}
