.sign-sect {
  position: relative;
  padding-bottom: 333px;
}
.sign {

  // .sign__img

  &__img {
    position: absolute;
    width: 100%;
    top: 301px;
    left: 0;
  }

  // .sign__wrap

  &__wrap {
    position: relative;
    z-index: 1;
    // .sign__wrap_img

    &_img {
      @extend %df;
      @extend %jcc;
      padding-top: 78px;
    }

    // .sign__wrap_form

    &_form {
      padding-top: 56px;
      max-width: 352px;
      margin: 0 auto;
    }
  }

  // .sign__form

  &__form {
  }

  // .sign__title

  &__title {
    @extend %h2-title;
    color: $white;
    text-align: center;
  }

  // .sign__text

  &__text {
    @extend %subtitle;
    color: $white;
    text-align: center;
    margin: 17px 0 23px 0;
  }

  // .sign__wrap-inputs

  &__wrap-inputs {
  }

  // .sign__input

  &__input {
    @extend %base-input;
    margin-bottom: 16px;
  }

  // .sign__btn

  &__btn {
    @extend %base-btn;
    width: 100%;
    margin-top: 24px;
  }
}
.container {
}
