body {
    font-size: 16px;
    @extend %bg-reset;
    background-color: $bg;
    color: $white;
    overflow-x: hidden;
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
    @extend %evt-none;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}
main {
    overflow: hidden;
}