// ================ NeutraText-Bold ================
@include font_face(NeutraText-Bold,NeutraText-Bold);

%bold {
    font-family: 'NeutraText-Bold', sans-serif;
}
// ################ NeutraText-Bold ################

// ================ NeutraText-BoldItalic ==============
@include font_face(NeutraText-BoldItalic, NeutraText-BoldItalic);

%italic {
    font-family: 'NeutraText-BoldItalic', sans-serif;
}
// ################### NeutraText-BoldItalicd ###################

// ================ NeutraText-Book ==================
@include font_face(NeutraText-Book, NeutraText-Book);

%book {
    font-family: 'NeutraText-Book', sans-serif;
}
// ################### NeutraText-Book ################


// ====================== Font sizes =======================
%ttu {
    text-transform: uppercase;
}

%h1-title {
    @extend %bold;
    font-size: rem(48);
    line-height: rem(48);
}

%h2-title {
    @extend %bold;
    font-size: rem(36);
    line-height: rem(40);
}

%h3-title {
    @extend %bold;
    font-size: rem(28);
    line-height: rem(32);
}

%btn-text {
    @extend %bold;
    font-size: rem(22);
    line-height: rem(28);
}

%subtitle {
    @extend %book;
    font-size: rem(22);
    line-height: rem(24);
}

%small {
    @extend %book;
    font-size: rem(18);
    line-height: rem(24);
}

%body {
    @extend %book;
    font-size: rem(20);
    line-height: rem(24);
}

%small-2 {
    @extend %bold;
    font-size: rem(18);
    line-height: rem(24);
}

%body-2 {
    @extend %bold;
    font-size: rem(20);
    line-height: rem(24);
}

%italics {
    @extend %italic;
    font-size: rem(36);
    line-height: rem(40);
}