.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 320px) {
  .container {
    padding: 0 15px;
  }
}

//@media (min-width: 360px) {
//  .container {
//    padding: 0;
//  }
//}

@media (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}