@include bp(1150px) {
  .header-sect {
    height: 100vh;
  }
  .cta {
    &-sect {
      padding-top: 217px;
    }
    &__svg {
      width: 337px;
      height: 533px;
    }
    &__bg {
      right: -504px;
    }
    &__wrap {
      &_top {
        margin-bottom: 218px;
      }
      &_bot {
        padding-left: 0;
      }
      &-input {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
    &__wrapper {
      &_img {
        width: 336px;
      }
      &_form {
        padding-right: 0;
        padding-top: 47px;
        max-width: 336px;
        width: 100%;
        //max-width: 335px;
      }
    }
  }
  .offer {
    &-sect {
      padding-top: 66px;
    }
    &__wrap {
      &_top {
        padding-left: 0;
        margin-bottom: 220px;
        .offer__content {
          max-width: 462px;
        }
      }
      &_bot {
        padding-right: 0;
      }
    }
    &__content {
      max-width: 469px;
    }
    &__wrap-img {
      width: 306px;
      height: 312.75px;
      margin-top: -221px;
      margin-left: -34px;
      margin-right: 0;
    }
  }
  .video {
    &-sect {
      padding-top: 417px;
    }
    &__bg-img {
      &_1 {
        width: 661px;
        height: 787px;
        top: 88px;
        left: -37px;
      }
      &_3 {
        top: 265px;
        left: 36px;
        z-index: 2;
        width: 327px;
        height: 235px;
      }
      &_2 {
        width: 375px;
        height: 371px;
        bottom: -201px;
        right: -74px;
        z-index: 2;
      }
    }
    &__wrap {
      height: 396px;
    }
    &__icon {
      width: 55px;
      height: 55px;
    }
  }
  .program {
    &__bg {
      width: 100%;
    }
    &-sect {
      padding-top: 148px;
      padding-bottom: 807px;

      &_else {
        padding-top: 36px;
        padding-bottom: 805px;
      }
    }
    &__img {
      &_left {
        top: auto;
        bottom: 0;
        width: 100%;
      }
      &_right {
        top: auto;
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
    &_else {
      padding-left: 247px;
    }
    justify-content: flex-start;
  }
  .media {
    &-sect {
      padding-top: 211px;
    }
    &__items {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      width: 336px;
      &:last-child {
        margin: 0 auto;
        margin-top: 29px;
      }
    }
  }
  .see-you {
    &-sect {
      padding-top: 140px;
    }
    &__img {
      width: 100%;
    }
  }
  .sign {
    &__img {
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
    &__wrap {
      &_img {
        padding-top: 107px;
        margin: 0 auto;
        img {
          width: 304px;
          height: 292px;
        }
      }
    }
  }
  .footer {
    &__img {
      width: 133%;
      top: -119px;
      left: -262px;
    }
    &-sect {
      padding-top: 166px;
      .container {
        max-width: 458px;
      }
    }
    &__wrap {
      &_top {
        flex-direction: column;
      }
      &_bot {
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 124px;
      }
    }
    &__touch {
      margin-bottom: 89px;
    }
    &__touch-wrap {
      padding-left: 0;
    }
    &__touch-wrap {
      justify-content: space-between;
    }
    &__touch-input {
      width: 312px;
    }
    &__touch-btn {
      width: 122px;
      height: 48px;
      margin-left: 0;
    }
    &__contact {
      width: 100%;
    }
    &__social {
      margin-top: 0;
    }
    &__contact-wrapper {
      margin-bottom: 25px;
    }
    &__contact-block {
      margin-right: 47px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__logo {
      position: absolute;
      right: 0;
      margin-right: 0;

      bottom: 0;
    }
    &__logo-link {
      margin-right: 0;
      width: 90px;
      height: 116px;
    }
    &__creditals {
      margin-top: 27px;
      text-align: left;
    }
  }
}
@include bp(1024px) {
  .program {
    &-sect {
      padding-bottom: 677px;
      &_else {
        padding-bottom: 635px;
      }
    }
  }
  .cta {
    &__wrapper {
      &_form {
        max-width: 285px;
      }
    }
  }
}