@include bp(766px) {
  .header {
    &__logo {
      width: 70px;
    }
    &__btn {
      width: 160px;
      height: 39px;
      font-size: rem(16);
      border-width: 2px;
    }
  }
  .cta {
    &__bg {
      width: 160%;
      right: auto;
      top: 46px;
    }
    &__svg {
      width: 357px;
      height: 533px;
      bottom: 20px;
    }
    &__title {
      font-size: 36px;
      line-height: 41px;
    }
    &__wrap {
      &_top {
        margin-bottom: 60px;
      }
    }
    &__wrapper {
      &_img {
        display: none;
      }
      &_form {
        max-width: 100%;
      }
    }
    //&__btn {
    //  border-width: 2px;
    //}
  }
  .offer {
    &__bg {
      width: 150%;
      top: 230px;
    }
    &__wrap-img {
      display: none;
    }
    &__wrap {
      &_top {
        margin-bottom: 130px;
      }
    }
    &__content {
      width: 100%;
    }
    &__countrys {
      flex-wrap: wrap;
    }
    &__country {
      margin-bottom: 8px;
    }
  }
  .video {
    &-sect {
      padding-top: 177px;
    }
    &__wrap {
      min-height: 226px;
      height: 226px;
    }
    &__bg-img {
      &_1 {
        width: 351px;
        height: 477px;
        top: -12px;
        left: -42px;
      }
      &_3 {
        top: 96px;
        left: -7px;
        z-index: 2;
        width: 180px;
        height: 142px;
      }
      &_2 {
        width: 185px;
        height: 181px;
        bottom: -41px;
        right: -34px;
        z-index: 2;
      }
    }
  }
  .program {
    &-sect {
      padding-top: 68px;
      padding-bottom: 307px;
      &_else {
        padding-bottom: 237px;
      }
    }
    &_else {
      padding-left: 0;
    }
    &__title {
      font-size: 33px;
    }
    &__text {
      font-size: 18px;
    }
    &__item {
      flex-direction: column;
      margin-bottom: 45px;
    }
    &__item-title {
      font-size: 22px;
    }
    &__item-text {
      font-size: 17px;
    }
    &__item-content {
      margin-left: 0;
      margin-top: 20px;
    }
  }
  .media {
    &__title {
      font-size: 33px;
    }
    &__item {
      margin-bottom: 50px;
    }
  }
  .see-you {
    &__title {
      font-size: rem(33);
    }
  }
  .sign {
    &__img {
      width: 160%;
      top: 149%;
    }
    &__wrap {
      &_img {
        width: 100%;
        height: auto;
      }
    }
  }
  .footer {
    &__img {
      width: 95%;
      top: -30px;
      left: 0;
    }
    &__touch-title,
    &__contact-title{
      font-size: 33px;
    }
    &__touch-input {
      input {
        width: 90%;
        font-size: rem(20);
      }
    }
    &__touch-btn {
      font-size: 16px;
      border-width: 2px;
    }
    &__touch-privacy {
      font-size: 16px;
    }
    &__contact-block-wrapper {
      flex-direction: column;
    }
    &__contact-block {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__logo {
      display: none;
    }
  }
}