%base-input {
  @extend %db;
  width: 352px;
  height: 48px;
  input {
    @extend %db;
    @extend %body;
    color: $verdigris;
    width: 100%;
    height: 100%;
    border: none;
    background-color: $white;
    padding-left: 18px;
  }
}