//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '../img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;
$black: #000;

$off_white: #E8E8E8;
$blue: #506669;
$marine: #2A454D;
$night: #243644;
$sky: #A2B1B1;
$bg: #141414;
$verdigris: #8D9D92;
$atlantic: #4D5950;


$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###