doctype html
include modules/_global-variables
include block/_mixsins
html 
    include mainBlock/_head
    body
        nav.nav
            .container
                .header__wrap.header__wrap_btn
                    a.header__btn
                        span= header.btn
        main
            // Start Header
            header.header-sect
                .container
                    .header
                        figure.header__wrap.header__wrap_logo
                            a.header__logo
                                img(src=`${header.logo}`)
            // End Header
            // Start Cta
            section.cta-sect
                img(src=`${cta.bg}`).cta__bg
                svg.cta__svg(width='567', height='763', viewBox='0 0 567 763', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M341.059 625.947C285.728 644.561 238.505 582.549 180.87 573.103C128.323 564.491 61.2763 605.022 18.6207 573.103C-25.371 540.185 -34.1114 480.932 -54.8968 430.062C-80.8967 366.429 -152.745 298.187 -117.887 239.012C-81.5894 177.392 20.3482 219.873 85.8284 191.166C138.814 167.937 163.953 93.9116 221.696 90.1362C280.675 86.28 339.135 124.544 374.021 172.323C406.278 216.501 381.176 278.421 397.33 330.679C415.946 390.903 486.532 436.25 474.737 498.143C462.9 560.257 400.954 605.798 341.059 625.947Z', fill='#8D9D92')
                .container
                    .cta
                        .cta__wrap.cta__wrap_top
                            h1.cta__title= cta.title
                        .cta__wrap.cta__wrap_bot
                            figure.cta__wrapper.cta__wrapper_img
                                img(src=`${cta.img}`)
                            - const cta_form = cta.form;
                            form.cta__wrapper.cta__wrapper_form
                                h2.cta__form-title
                                    = cta_form.title.split('<br>')[0]
                                    br
                                    = cta_form.title.split('<br>')[1]
                                p.cta__form-text
                                    = cta_form.text.split('<br>')[0]
                                    br
                                    = cta_form.text.split('<br>')[1]
                                .cta__form-inputs
                                    -for(let inp of cta_form.inputs)
                                        .cta__wrap-input
                                            input(type=`${inp.type}` placeholder=`${inp.pls}`)
                                    button.cta__btn
                                        span= cta_form.btn


            // End Cta
            // Start Offer
            section.offer-sect
                img.offer__bg(src=`${imgPath}what-offer-bg.png`)
                .container
                    .offer
                        - const top = offer.left;
                        .offer__wrap.offer__wrap_top
                            .offer__content
                                h2.offer__title= top.title
                                p.offer__text= top.text
                                p.offer__subtitle
                                    = top.subtitle.split('<b>')[0]
                                    span
                                        = top.subtitle.split('<b>')[1]
                                .offer__subtext= top.subtext
                                ul.offer__countrys
                                    - for(let i = 0; i < top.country_count; i++)
                                        li.offer__country
                                            figure.offer__country-img
                                                img(src=`${top.flag_path}${i}.svg`)
                            figure.offer__wrap-img
                                img(src=`${top.img}`)
                        - const bot = offer.right
                        .offer__wrap.offer__wrap_bot
                            .offer__content
                                h2.offer__title= bot.title
                                p.offer__text= bot.text
            // End Offer
            // Start Video
            section.video-sect
                img(src=`${video.bg_1}`).video__bg-img.video__bg-img_1
                img(src=`${video.bg_2}`).video__bg-img.video__bg-img_2
                img(src=`${imgPath}turtle.png`).video__bg-img.video__bg-img_3
                .container
                    .video
                        .video__wrap
                            figure.video__preview.video-click(data-code=`${video.video_code}`)
                                img(src=`${video.preview}`)
                                .video__icon
                                    svg(width='80', height='80', viewBox='0 0 80 80', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        circle(cx='40', cy='40', r='38', stroke='#E8E8E8', stroke-width='4')
                                        path(d='M33 28L51.8571 40L33 52V28Z', stroke='#E8E8E8', stroke-width='3', stroke-linecap='round', stroke-linejoin='round')
                            .video__frame#video-view
            // End Video
            // Start Program
            section.program-sect
                img(src=`${program.bg}`).program__bg
                figure.program__img.program__img_left
                    img(src=`${program.img}`)
                .container
                    .program
                        .program__wrap.program__wrap_right
                            h2.program__title= program.title
                            p.program__text= program.text
                            ul.program__items
                                - for(let itm of program.items)
                                    li.program__item
                                        figure.program__icon
                                            - if(itm.icon == 1)
                                                    svg(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M2.28571 0C1.0365 0 0 1.00771 0 2.22222V13.3333C0 14.5478 1.0365 15.5556 2.28571 15.5556H17.1429C18.3921 15.5556 19.4286 14.5478 19.4286 13.3333V2.22222C19.4286 1.00771 18.3921 0 17.1429 0H2.28571ZM2.28571 2.22222H17.1429V13.3333H2.28571V2.22222ZM6.85714 4.44444V11.1111L12.5714 7.77778L6.85714 4.44444ZM21.7143 4.44444V17.7778H4.57143V20H21.7143C22.9635 20 24 18.9923 24 17.7778V4.44444H21.7143Z', fill='#8D9D92')
                                            - else if (itm.icon == 2)
                                                svg(width='23', height='22', viewBox='0 0 23 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M2.99814 0C2.20299 0 1.4404 0.315875 0.878136 0.878136C0.315875 1.4404 0 2.20299 0 2.99814C0 3.7933 0.315875 4.55589 0.878136 5.11815C1.4404 5.68041 2.20299 5.99629 2.99814 5.99629C3.7933 5.99629 4.55589 5.68041 5.11815 5.11815C5.68041 4.55589 5.99629 3.7933 5.99629 2.99814C5.99629 2.20299 5.68041 1.4404 5.11815 0.878136C4.55589 0.315875 3.7933 0 2.99814 0ZM7.99505 0.999381V2.99814H19.9876V13.9913H7.99505V14.8229C7.97721 14.9308 7.97721 15.0409 7.99505 15.1488V15.9901H21.9864C22.1188 15.992 22.2503 15.9675 22.3732 15.9181C22.4961 15.8687 22.6079 15.7954 22.7022 15.7024C22.7966 15.6094 22.8714 15.4986 22.9226 15.3765C22.9737 15.2543 23 15.1232 23 14.9907C23 14.8583 22.9737 14.7272 22.9226 14.605C22.8714 14.4828 22.7966 14.372 22.7022 14.279C22.6079 14.186 22.4961 14.1127 22.3732 14.0633C22.2503 14.0139 22.1188 13.9895 21.9864 13.9913V1.99876C21.9864 1.73372 21.8811 1.47954 21.6936 1.29212C21.5062 1.10471 21.252 0.999408 20.987 0.999381H7.99505ZM1.99876 7.99505C0.894446 7.99505 0 8.88949 0 9.99381V15.9901H5.99629V10.9932C5.99629 10.4415 6.44401 9.99381 6.99567 9.99381H11.9926C12.125 9.99568 12.2565 9.97122 12.3794 9.92183C12.5023 9.87245 12.6141 9.79914 12.7084 9.70615C12.8027 9.61316 12.8776 9.50236 12.9288 9.38018C12.9799 9.258 13.0062 9.12687 13.0062 8.99443C13.0062 8.86199 12.9799 8.73086 12.9288 8.60868C12.8776 8.4865 12.8027 8.3757 12.7084 8.28271C12.6141 8.18972 12.5023 8.11641 12.3794 8.06703C12.2565 8.01764 12.125 7.99318 11.9926 7.99505H1.99876ZM1.99876 17.9889C1.46866 17.9889 0.960265 18.1994 0.585424 18.5743C0.210583 18.9491 0 19.4575 0 19.9876C0 20.5177 0.210583 21.0261 0.585424 21.401C0.960265 21.7758 1.46866 21.9864 1.99876 21.9864C2.52887 21.9864 3.03726 21.7758 3.4121 21.401C3.78694 21.0261 3.99752 20.5177 3.99752 19.9876C3.99752 19.4575 3.78694 18.9491 3.4121 18.5743C3.03726 18.1994 2.52887 17.9889 1.99876 17.9889ZM7.99505 17.9889C7.46494 17.9889 6.95655 18.1994 6.58171 18.5743C6.20687 18.9491 5.99629 19.4575 5.99629 19.9876C5.99629 20.5177 6.20687 21.0261 6.58171 21.401C6.95655 21.7758 7.46494 21.9864 7.99505 21.9864C8.52515 21.9864 9.03355 21.7758 9.40839 21.401C9.78323 21.0261 9.99381 20.5177 9.99381 19.9876C9.99381 19.4575 9.78323 18.9491 9.40839 18.5743C9.03355 18.1994 8.52515 17.9889 7.99505 17.9889ZM13.9913 17.9889C13.4612 17.9889 12.9528 18.1994 12.578 18.5743C12.2032 18.9491 11.9926 19.4575 11.9926 19.9876C11.9926 20.5177 12.2032 21.0261 12.578 21.401C12.9528 21.7758 13.4612 21.9864 13.9913 21.9864C14.5214 21.9864 15.0298 21.7758 15.4047 21.401C15.7795 21.0261 15.9901 20.5177 15.9901 19.9876C15.9901 19.4575 15.7795 18.9491 15.4047 18.5743C15.0298 18.1994 14.5214 17.9889 13.9913 17.9889ZM19.9876 17.9889C19.4575 17.9889 18.9491 18.1994 18.5743 18.5743C18.1994 18.9491 17.9889 19.4575 17.9889 19.9876C17.9889 20.5177 18.1994 21.0261 18.5743 21.401C18.9491 21.7758 19.4575 21.9864 19.9876 21.9864C20.5177 21.9864 21.0261 21.7758 21.401 21.401C21.7758 21.0261 21.9864 20.5177 21.9864 19.9876C21.9864 19.4575 21.7758 18.9491 21.401 18.5743C21.0261 18.1994 20.5177 17.9889 19.9876 17.9889Z', fill='#8D9D92')
                                            - else if (itm.icon == 3)
                                                svg(width='20', height='27', viewBox='0 0 20 27', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M10 0C8.35499 0 7 1.33826 7 2.96296H3C1.35503 2.96296 0 4.30126 0 5.92593V23.7037C0 25.3284 1.35503 26.6667 3 26.6667H17C18.645 26.6667 20 25.3284 20 23.7037V5.92593C20 4.30126 18.645 2.96296 17 2.96296H13C13 1.33826 11.645 0 10 0ZM10 1.97531C10.5641 1.97531 11 2.4058 11 2.96296C11 3.52013 10.5641 3.95062 10 3.95062C9.43587 3.95062 9 3.52013 9 2.96296C9 2.4058 9.43587 1.97531 10 1.97531ZM3 4.93827H5C5 6.02963 5.895 6.91358 7 6.91358H13C14.105 6.91358 15 6.02963 15 4.93827H17C17.565 4.93827 18 5.36787 18 5.92593V23.7037C18 24.2618 17.565 24.6914 17 24.6914H3C2.43497 24.6914 2 24.2618 2 23.7037V5.92593C2 5.36787 2.43497 4.93827 3 4.93827ZM14.9805 10.8546C14.7207 10.8622 14.4741 10.9694 14.293 11.1535L13.5859 11.8519H13C12.8675 11.85 12.7359 11.8742 12.613 11.923C12.49 11.9718 12.3781 12.0442 12.2837 12.1361C12.1893 12.228 12.1144 12.3375 12.0632 12.4583C12.0121 12.579 11.9858 12.7086 11.9858 12.8395C11.9858 12.9704 12.0121 13.1 12.0632 13.2207C12.1144 13.3415 12.1893 13.451 12.2837 13.5429C12.3781 13.6348 12.49 13.7072 12.613 13.756C12.7359 13.8048 12.8675 13.829 13 13.8272H14C14.2652 13.8271 14.5195 13.723 14.707 13.5378L15.707 12.5502C15.8515 12.4114 15.9502 12.2328 15.9902 12.0377C16.0301 11.8427 16.0095 11.6402 15.931 11.4569C15.8524 11.2736 15.7197 11.118 15.55 11.0105C15.3804 10.9031 15.1819 10.8487 14.9805 10.8546ZM5 11.8519C4.86749 11.85 4.73593 11.8742 4.61296 11.923C4.48999 11.9718 4.37807 12.0442 4.2837 12.1361C4.18933 12.228 4.11439 12.3375 4.06324 12.4583C4.0121 12.579 3.98576 12.7086 3.98576 12.8395C3.98576 12.9704 4.0121 13.1 4.06324 13.2207C4.11439 13.3415 4.18933 13.451 4.2837 13.5429C4.37807 13.6348 4.48999 13.7072 4.61296 13.756C4.73593 13.8048 4.86749 13.829 5 13.8272H9C9.13251 13.829 9.26407 13.8048 9.38704 13.756C9.51001 13.7072 9.62193 13.6348 9.7163 13.5429C9.81067 13.451 9.88561 13.3415 9.93676 13.2207C9.9879 13.1 10.0142 12.9704 10.0142 12.8395C10.0142 12.7086 9.9879 12.579 9.93676 12.4583C9.88561 12.3375 9.81067 12.228 9.7163 12.1361C9.62193 12.0442 9.51001 11.9718 9.38704 11.923C9.26407 11.8742 9.13251 11.85 9 11.8519H5ZM14.9805 16.7805C14.7207 16.7881 14.4741 16.8954 14.293 17.0795L13.5859 17.7778H13C12.8675 17.7759 12.7359 17.8001 12.613 17.8489C12.49 17.8977 12.3781 17.9702 12.2837 18.0621C12.1893 18.154 12.1144 18.2635 12.0632 18.3842C12.0121 18.505 11.9858 18.6345 11.9858 18.7654C11.9858 18.8963 12.0121 19.0259 12.0632 19.1467C12.1144 19.2674 12.1893 19.3769 12.2837 19.4688C12.3781 19.5607 12.49 19.6332 12.613 19.682C12.7359 19.7308 12.8675 19.7549 13 19.7531H14C14.2652 19.753 14.5195 19.649 14.707 19.4637L15.707 18.4761C15.8515 18.3374 15.9502 18.1587 15.9902 17.9637C16.0301 17.7686 16.0095 17.5661 15.931 17.3828C15.8524 17.1995 15.7197 17.044 15.55 16.9365C15.3804 16.829 15.1819 16.7746 14.9805 16.7805ZM5 17.7778C4.86749 17.7759 4.73593 17.8001 4.61296 17.8489C4.48999 17.8977 4.37807 17.9702 4.2837 18.0621C4.18933 18.154 4.11439 18.2635 4.06324 18.3842C4.0121 18.505 3.98576 18.6345 3.98576 18.7654C3.98576 18.8963 4.0121 19.0259 4.06324 19.1467C4.11439 19.2674 4.18933 19.3769 4.2837 19.4688C4.37807 19.5607 4.48999 19.6332 4.61296 19.682C4.73593 19.7308 4.86749 19.7549 5 19.7531H9C9.13251 19.7549 9.26407 19.7308 9.38704 19.682C9.51001 19.6332 9.62193 19.5607 9.7163 19.4688C9.81067 19.3769 9.88561 19.2674 9.93676 19.1467C9.9879 19.0259 10.0142 18.8963 10.0142 18.7654C10.0142 18.6345 9.9879 18.505 9.93676 18.3842C9.88561 18.2635 9.81067 18.154 9.7163 18.0621C9.62193 17.9702 9.51001 17.8977 9.38704 17.8489C9.26407 17.8001 9.13251 17.7759 9 17.7778H5Z', fill='#8D9D92')
                                        .program__item-content
                                            h3.program__item-title= itm.title
                                            p.program__item-text= itm.text

            // End Program
            // Start Program
            section.program-sect.program-sect_else
                img(src=`${program.bg}`).program__bg.program__bg_else
                figure.program__img.program__img_right
                    img(src=`${elseProgram.img}`)
                .container
                    .program.program_else
                        .program__wrap.program__wrap_left
                            h2.program__title= elseProgram.title
                            ul.program__items
                                - for(let itm of elseProgram.items)
                                    li.program__item
                                        figure.program__icon
                                            - if(itm.icon == 1)
                                                svg(width='26', height='21', viewBox='0 0 26 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24.3683 12.7867V5.83126L24.657 5.74463C25.767 5.4115 26 4.84753 26 4.43305C25.9999 4.01857 25.7669 3.4546 24.657 3.12163L15.1588 0.272137C14.5738 0.0966368 13.8071 0 13.0001 0C12.193 0 11.4264 0.0966368 10.8412 0.272137L1.34311 3.12163C0.233035 3.4546 0 4.01857 0 4.4331C0 4.84758 0.232984 5.41161 1.34306 5.74468L4.89536 6.81038V10.5522C4.89536 11.2653 5.35884 12.2697 7.56686 13.0057C9.02936 13.4932 10.9589 13.7617 13 13.7617C15.0411 13.7617 16.9706 13.4932 18.4331 13.0057C20.6412 12.2696 21.1046 11.2653 21.1046 10.5522V6.81043L22.8448 6.28834V12.7867C21.8975 13.1057 21.2131 14.0018 21.2131 15.0553V18.3188C21.2131 19.6385 22.2867 20.7123 23.6065 20.7123C24.9263 20.7123 26 19.6386 26 18.3188V15.0553C26.0001 14.0018 25.3156 13.1057 24.3683 12.7867ZM11.279 1.73134C11.7195 1.59915 12.3468 1.52339 13.0001 1.52339C13.6533 1.52339 14.2806 1.59915 14.7211 1.73129L23.727 4.4331L20.1203 5.51515C20.1182 5.51581 20.1162 5.51637 20.1141 5.51703L14.7211 7.13497C14.2807 7.2671 13.6534 7.34287 13.0002 7.34287C12.3469 7.34287 11.7196 7.2671 11.2791 7.13497L5.88611 5.51703C5.88402 5.51637 5.88199 5.51581 5.87991 5.51515L2.27322 4.4331L11.279 1.73134ZM19.5813 10.5522C19.5813 10.6504 19.3047 11.1093 17.9514 11.5604C16.6402 11.9975 14.8817 12.2382 13.0001 12.2382C11.1184 12.2382 9.3599 11.9975 8.04868 11.5604C6.69546 11.1093 6.4188 10.6504 6.4188 10.5522V7.26736L10.8413 8.59412C11.4263 8.76962 12.193 8.86625 13.0001 8.86625C13.8071 8.86625 14.5738 8.76962 15.1589 8.59412L19.5813 7.26736V10.5522ZM24.4766 18.3187C24.4766 18.7985 24.0863 19.1888 23.6066 19.1888C23.1268 19.1888 22.7365 18.7985 22.7365 18.3187V15.0552C22.7365 14.5754 23.1268 14.1851 23.6066 14.1851C24.0864 14.1851 24.4766 14.5754 24.4766 15.0552V18.3187Z', fill='#8D9D92')
                                            - else if (itm.icon == 2)
                                                svg(width='23', height='23', viewBox='0 0 23 23', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M19.6317 3.36826C17.4597 1.19622 14.5719 0 11.5002 0H11.4998C8.42812 0 5.54031 1.19622 3.36826 3.36826C1.19622 5.54031 0 8.42829 0 11.5C0 14.5717 1.19622 17.4597 3.36826 19.6317C5.54031 21.8038 8.42829 23 11.5 23C14.5717 23 17.4597 21.8038 19.6317 19.6317C21.8038 17.4597 23 14.5717 23 11.5C23 8.42829 21.8038 5.54031 19.6317 3.36826ZM20.3829 16.4107H17.0171C17.4681 15.0894 17.7398 13.6587 17.8031 12.1738H21.6294C21.5288 13.7026 21.0884 15.1397 20.3829 16.4107ZM11.5 21.5527C10.0657 20.6992 8.87611 19.3762 8.02048 17.7584H14.9795C14.1239 19.3762 12.9343 20.6992 11.5 21.5527ZM7.41141 16.4107C6.91586 15.1106 6.61545 13.675 6.54596 12.1738H16.454C16.3846 13.675 16.084 15.1106 15.5884 16.4107H7.41141ZM1.37064 12.1738H5.1969C5.26025 13.6587 5.53188 15.0894 5.98286 16.4107H2.61705C1.91164 15.1397 1.47119 13.7026 1.37064 12.1738ZM2.61705 6.5893H5.98286C5.53188 7.91064 5.26025 9.34129 5.1969 10.8262H1.37064C1.47119 9.29742 1.91164 7.86028 2.61705 6.5893ZM11.5 1.44733C12.9343 2.30084 14.1239 3.62376 14.9795 5.24165H8.02048C8.87611 3.62376 10.0657 2.30084 11.5 1.44733ZM15.5886 6.5893C16.0841 7.8894 16.3846 9.32497 16.454 10.8262H6.54596C6.61545 9.32497 6.91604 7.8894 7.41158 6.5893H15.5886ZM21.6294 10.8262H17.8031C17.7398 9.34129 17.4681 7.91064 17.0171 6.5893H20.3829C21.0884 7.86028 21.5288 9.29742 21.6294 10.8262ZM16.4776 5.24165C15.8371 3.85819 14.985 2.63565 13.9619 1.65018C16.1824 2.20538 18.116 3.4932 19.4887 5.24165H16.4776ZM9.03807 1.65018C8.01505 2.63565 7.16293 3.85819 6.52245 5.24165H3.51128C4.88403 3.4932 6.8176 2.20538 9.03807 1.65018ZM6.52245 17.7584C7.16293 19.1418 8.01505 20.3643 9.03807 21.3498C6.8176 20.7946 4.88403 19.5068 3.51128 17.7584H6.52245ZM13.9619 21.3498C14.985 20.3643 15.8371 19.1416 16.4776 17.7584H19.4887C18.116 19.5068 16.1824 20.7946 13.9619 21.3498Z', fill='#8D9D92')
                                        .program__item-content
                                            h3.program__item-title= itm.title
                                            p.program__item-text= itm.text

            // End Program
            // Start Media
            section.media-sect
                img.sign__img(src=`${sign.bg}`)
                .container
                    .media
                        h2.media__title
                            = media.title.split('<i>')[0]
                            span= media.title.split('<i>')[1]
                        ul.media__items
                            - for(let itm of media.items)
                                    li.media__item
                                        .media__item-icon
                                            svg(width='32', height='23', viewBox='0 0 32 23', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M25.2454 22.6341C28.7916 22.6341 32 19.7519 32 15.8524C32 12.8854 30.2269 10.5965 28.2005 9.66401L31.409 0H25.9208L20.8549 8.64675C19.3351 11.2747 18.3219 13.3092 18.3219 15.9372C18.3219 19.7519 21.5303 22.6341 25.2454 22.6341ZM6.92348 22.6341C10.4697 22.6341 13.6781 19.7519 13.6781 15.8524C13.6781 12.8854 11.905 10.5965 9.87863 9.66401L13.0871 0H7.59894L2.53298 8.64675C1.01319 11.2747 0 13.3092 0 15.9372C0 19.7519 3.20844 22.6341 6.92348 22.6341Z', fill='#E8E8E8')
                                        p.media__item-text= itm.text
                                        figure.media__item-icon
                                            img(src=`${itm.logo}`)
            // End Media
            // Start See you
            section.see-you-sect
                .container
                    .see-you
                        h2.see-you__title= see.title
                        figure.see-you__img
                            img(src=`${see.img}`)
            // End See you
            // Start Sign
            section.sign-sect
                .container
                    .sign
                        figure.sign__wrap.sign__wrap_img
                            img(src=`${sign.img}`)
                        .sign__wrap.sign__wrap_form
                            form.sign__form
                                h2.sign__title
                                    = sign.title.split('<br>')[0]
                                    br
                                    = sign.title.split('<br>')[1]
                                p.sign__text
                                    = sign.text.split('<br>')[0]
                                    br
                                    = sign.text.split('<br>')[1]
                                .sign__wrap-inputs
                                    - for(let inp of sign.inputs)
                                        .sign__input
                                            input(type=`${inp.type}` placeholder=`${inp.plsh}`)
                                button.sign__btn
                                    span Send
            // End Sign
        // Start Footer
        footer.footer-sect
            img(src=`${footer.img}`).footer__img
            .container
                .footer
                    .footer__wrap.footer__wrap_top
                        - const touch = footer.touch;
                        .footer__touch
                            h3.footer__touch-title= touch.title
                            form.footer__touch-wrap
                                .footer__touch-input
                                    input(type='email' placeholder=`${touch.input}`)
                                    p.footer__touch-privacy= touch.privacy
                                button.footer__touch-btn
                                    span= touch.btn
                        - const contact = footer.contact;
                        .footer__contact
                            .footer__contact-wrapper
                                h2.footer__contact-title= contact.title
                                ul.footer__social
                                    li.footer__social-itm
                                        a(href="#").footer__social-link
                                            svg(width='32', height='32', viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M31.9187 9.40812C31.8437 7.70783 31.5687 6.53889 31.1747 5.526C30.7683 4.45083 30.1431 3.48824 29.3239 2.68803C28.5236 1.87537 27.5544 1.2439 26.4915 0.843917C25.4726 0.45004 24.3095 0.175084 22.6089 0.100117C20.8956 0.0188025 20.3517 0 16.0062 0C11.6608 0 11.1169 0.0188025 9.40991 0.0937686C7.7093 0.168735 6.54014 0.443936 5.5273 0.837569C4.45168 1.2439 3.48891 1.86902 2.68855 2.68803C1.87573 3.48824 1.24438 4.45718 0.844078 5.51989C0.450126 6.53889 0.175117 7.70148 0.100137 9.40177C0.0188061 11.1148 0 11.6586 0 16.0032C0 20.3478 0.0188061 20.8916 0.0937865 22.5982C0.168767 24.2985 0.44402 25.4675 0.837973 26.4804C1.24438 27.5555 1.87573 28.5181 2.68855 29.3183C3.48891 30.131 4.45803 30.7625 5.52095 31.1624C6.54014 31.5563 7.70295 31.8313 9.40381 31.9062C11.1105 31.9814 11.6547 32 16.0001 32C20.3456 32 20.8895 31.9814 22.5964 31.9062C24.2971 31.8313 25.4662 31.5563 26.4791 31.1624C28.63 30.331 30.3307 28.6307 31.1623 26.4804C31.556 25.4614 31.8312 24.2985 31.9062 22.5982C31.9812 20.8916 32 20.3478 32 16.0032C32 11.6586 31.9937 11.1148 31.9187 9.40812ZM29.0364 22.4732C28.9676 24.036 28.705 24.8799 28.4862 25.4425C27.9484 26.8366 26.8417 27.943 25.4474 28.4807C24.8847 28.6995 24.0345 28.962 22.4775 29.0307C20.7893 29.1059 20.283 29.1244 16.0126 29.1244C11.7421 29.1244 11.2295 29.1059 9.54742 29.0307C7.98431 28.962 7.14023 28.6995 6.57751 28.4807C5.88364 28.2243 5.25204 27.818 4.73939 27.2867C4.20794 26.7678 3.80153 26.1426 3.54508 25.4489C3.32625 24.8863 3.06369 24.036 2.99506 22.4796C2.91984 20.7917 2.90128 20.2853 2.90128 16.0156C2.90128 11.746 2.91984 11.2334 2.99506 9.55194C3.06369 7.98913 3.32625 7.14522 3.54508 6.5826C3.80153 5.88862 4.20794 5.25739 4.74574 4.74459C5.2645 4.21324 5.88974 3.80691 6.58386 3.55075C7.14658 3.33196 7.99701 3.06946 9.55377 3.0006C11.2419 2.92563 11.7485 2.90683 16.0187 2.90683C20.2955 2.90683 20.8018 2.92563 22.4838 3.0006C24.047 3.06946 24.891 3.33196 25.4538 3.55075C26.1476 3.80691 26.7792 4.21324 27.2919 4.74459C27.8233 5.2635 28.2297 5.88862 28.4862 6.5826C28.705 7.14522 28.9676 7.99524 29.0364 9.55194C29.1114 11.2398 29.1302 11.746 29.1302 16.0156C29.1302 20.2853 29.1114 20.7854 29.0364 22.4732Z', fill='#E8E8E8')
                                                path(d='M16.0062 7.78279C11.4671 7.78279 7.78428 11.4647 7.78428 16.0032C7.78428 20.5417 11.4671 24.2236 16.0062 24.2236C20.5456 24.2236 24.2282 20.5417 24.2282 16.0032C24.2282 11.4647 20.5456 7.78279 16.0062 7.78279ZM16.0062 21.3355C13.0615 21.3355 10.6729 18.9476 10.6729 16.0032C10.6729 13.0587 13.0615 10.6708 16.0062 10.6708C18.9512 10.6708 21.3396 13.0587 21.3396 16.0032C21.3396 18.9476 18.9512 21.3355 16.0062 21.3355Z', fill='#E8E8E8')
                                                path(d='M26.4729 7.45778C26.4729 8.51756 25.6135 9.37686 24.5533 9.37686C23.4933 9.37686 22.6338 8.51756 22.6338 7.45778C22.6338 6.39775 23.4933 5.5387 24.5533 5.5387C25.6135 5.5387 26.4729 6.39775 26.4729 7.45778Z', fill='#E8E8E8')
                                    li.footer__social-itm
                                        a(href="#").footer__social-link
                                            svg(width='16', height='32', viewBox='0 0 16 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M13.0789 5.31333H16V0.225333C15.496 0.156 13.7629 0 11.7444 0C7.53271 0 4.64761 2.64933 4.64761 7.51867V12H0V17.688H4.64761V32H10.3458V17.6893H14.8054L15.5134 12.0013H10.3445V8.08267C10.3458 6.43867 10.7884 5.31333 13.0789 5.31333Z', fill='#E8E8E8')
                            .footer__contact-block-wrapper
                                - for(let block of contact.items)
                                    .footer__contact-block
                                        h3.footer__contact-block-title= block.title
                                        ul.footer__contact-block-items
                                            -for(let itm of block.items)
                                                li.footer__contact-block-itm
                                                    -if(itm.type == 'link-email')
                                                        a.footer__contact-itm-link(href=`mailto:${itm.text}`)
                                                            span= itm.text
                                                    - else if (itm.type == 'text')
                                                        p.footer__contact-itm-text= itm.text
                                                    - else if (itm.type == 'text-under')
                                                        p.footer__contact-itm-text.footer__contact-itm-text_under= itm.text
                                                    - else if (itm.type == 'link-phone')
                                                        a.footer__contact-itm-link(href=`tel:${itm.text}`)
                                                            span= itm.text


                    .footer__wrap.footer__wrap_bot
                        p.footer__copy
                            a(href="#")= footer.copy.split('<br>')[0]
                            br
                            = footer.copy.split('<br>')[1]
                        .footer__logo
                            a(href="#").footer__logo-link
                                img(src=`${imgPath}logo.png`)
                        p.footer__creditals
                            - const creditals = footer.creditals;
                            = creditals.split('<br>')[0]
                            a(href="#")= creditals.split('<br>')[1]
                            br
                            = creditals.split('<br>')[2]

        // End Footer
        include mainBlock/_scripts