-
    const mainVar = {
        path: {
            css: 'css/',
            js: 'js/',
            img: 'img/'
        }
    };

- const imgPath = mainVar.path.img;
- const mediaImg = `${imgPath}media-logos/`;

-
    const mainText = {
        title: 'Tales of us',
        menu: ['Expertise', 'People', 'Insights', 'Contacts'],
        home: {
            header: {
                logo: `${imgPath}logo.png`,
                btn: 'Sign up for free'
            },
            cta: {
                bg: `${imgPath}offer-bg.png`,
                title: 'Bring the wisdom of the world’s vital ecosystems, and the people who live there, to your children schooled at home with Tales at Home. ',
                img: `${imgPath}sign-img.jpg`,
                form: {
                    title: 'Leave your data<br>to sign up for free',
                    text: 'We’ll notify you about the next<br>scheduled series soon',
                    inputs: [
                        {
                            type: 'text',
                            pls: 'Full name',
                        },
                        {
                            type: 'email',
                            pls: 'E-mail'
                        }
                    ],
                    btn: 'Send'
                }
            },
            offer: {
                left: {
                    title: 'What we offer',
                    text: 'Tales at Home — from the ongoing multimedia series Tales of Us — is a free online children’s education series that brings the mythologies, legends and lore of people who live in areas of great ecological importance to children the world over. ',
                    subtitle: 'Recommended age: <b>7+ y.o.',
                    subtext: 'Materials will be available amongst other for these languages:',
                    country_count: 8,
                    flag_path: `${imgPath}countrys/`,
                    img: `${imgPath}offer-ill.png`
                },
                right: {
                    title: 'Our philosophy',
                    text: 'In this unprecedented time of quarantine, childhood education is having to reimagine itself to take place at home, rather than school. Connecting children to the natural world and cultures other than their own is more important than ever. That is where Tales at Home comes in.'
                }
            },
            video: {
                bg_1: `${imgPath}video-bg.png`,
                bg_2: `${imgPath}video-bg-2.png`,
                preview: `${imgPath}preview-video.jpg`,
                video_code: 'NeQM1c-XCDc',
                title: 'Congo Tales  (Random House, 2018)',
                time: '2:08'
            },
            program: {
                bg: `${imgPath}program-bg.png`,
                title: 'Program',
                text: 'Each episode will be divided into three 10 minute segments: ',
                img: `${imgPath}program-ill.png`,
                items: [
                    {
                        icon: 1,
                        title: '1. Video tale',
                        text: 'A video that shares a Congolese myth followed by a theoretical class',
                    },
                    {
                        icon: 2,
                        title: '2. Theoretical class',
                        text: 'A live, interactive video session hosted by a prominent educator.'
                    },
                    {
                        icon: 3,
                        title: '3. Fun, creative assignment',
                        text: 'An assignment to spark kids’ imaginations and critical thinking skills.'
                    },
                ]
            },
            elseProgram: {
                bg: `${imgPath}else-program-bg.png`,
                title: 'What else?',
                img: `${imgPath}else-program-ill.png`,
                items: [
                    {
                        icon: 1,
                        title: 'Educating topics',
                        text: 'The main subjects that will be covered include: geography, biodiversity, rainforest knowledge, mythology, cultural identities, the animal kingdom, and more.',
                    },
                    {
                        icon: 2,
                        title: 'Multilingual access',
                        text: 'The content will initially be released in six different languages: English, French, Lingala, Dutch, German, and Kikongo.'
                    },
                ]
            },
            media: {
                title: 'Media about <i>Tales of us',
                items: [
                    {
                        text: 'Local children played characters in the story that reminds viewers nature’s laws always prevail. It’s one more tale Congo is sharing with the world.',
                        logo: `${mediaImg}pbs.svg`
                    },
                    {
                        text: 'This collaboration offers an opportunity to grapple with what an ethical approach to storytelling might look like. ',
                        logo: `${mediaImg}times.svg`
                    },
                    {
                        text: 'Magical photos bring fables from Mbomo to life.',
                        logo: `${mediaImg}npr.svg`
                    },
                ]
            },
            see_you: {
                title: 'Seen In',
                img: `${imgPath}press-sponsors.png`
            },
            signIn: {
                bg: `${imgPath}final-bg.png`,
                img: `${imgPath}sign-ill.png`,
                title: 'Leave your data<br>to sign up for free',
                text: 'We’ll notify you about the next<br>scheduled series soon',
                inputs: [
                    {
                        type: 'text',
                        plsh: 'Full name'
                    },
                    {
                        type: 'email',
                        plsh: 'E-mail'
                    }
                ]
            },
        },
        footer: {
            img: `${imgPath}footer-ill.png`,
            touch: {
                title: 'Stay in touch',
                input: 'E-mail',
                privacy: 'We respect your privacy',
                btn: 'Sign up'
            },
            contact: {
                title: 'Contact',
                items: [
                    {
                        title: 'Contact e-mail',
                        items: [
                            {
                                type: 'link-email',
                                text: 'contact@talesofus.com',
                            }
                        ]
                    },
                    {
                        title: 'Press contact',
                        items: [
                            {
                                type: 'text',
                                text: 'Christopher Nutter'
                            },
                            {
                                type: 'text-under',
                                text: 'Nutter Media'
                            },
                            {
                                type: 'link-phone',
                                text: '+1 917 770 0350'
                            },
                            {
                                type: 'link-email',
                                text: 'Christopher@NutterMedia.com'
                            }
                        ]
                    }
                ]
            },
            copy: 'Impressum<br>Tales of Us GmbH © All rights reserved, 2020',
            creditals: 'Designed and developed by <br> Opklopper<br>Illustrations by Name Surname'
        }
    }

- const header = mainText.home.header;
- const cta = mainText.home.cta;
- const offer = mainText.home.offer;
- const video = mainText.home.video;
- const program = mainText.home.program;
- const elseProgram = mainText.home.elseProgram;
- const media = mainText.home.media;
- const see = mainText.home.see_you;
- const sign = mainText.home.signIn;
- const footer = mainText.footer;
